h1{
    margin:0;
    padding:20px 0;
    color:green;
	 
}
h2{ 
    color:white;
    background-color: blue;
    margin:0;	 
} 

h3{ 
    margin-bottom:20px;
    color:white;
    background-color: blue;	 
}

body{
    width: 1200px;
    font-family: Verdana;
}
img{
    padding: 5px;
}
